.contact-page {
  @media screen and (min-width: 991px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 991px) {
      width: 50%;
    }
  }

  .text-zone {
    h1 {
      font-size: 53px;
      color: #fff;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      span {
        font-family: 'Coolvetica';
      }
    }
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .contact-form {
      margin-top: 20px;
      width: 100%;
      ul {
        list-style: none;
        width: 100%;
        li {
          margin-bottom: 15px;
        }
        input[type='text'],
        input[type='email'] {
          width: 100%;
          background: #115173;
          border: 0;
          height: 50px;
          font-size: 18px;
          color: #fff;
          padding: 5px 20px;
          font-family: sans-serif;
          outline: none;
        }

        textarea {
          width: 100%;
          border: 0;
          background-color: #115173;
          height: 50px;
          font-size: 18px;
          color: #fff;
          padding: 20px;
          min-height: 150px;
          box-sizing: border-box;
          outline: none;
          font-family: sans-serif;
        }

        button {
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}

.map-info {
  height: 700px;
  padding: 10px;
  @media screen and (min-width: 991px) {
    width: 50%;
  }
}
