.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding-left: 20px;
  .text {
    h1 {
      font-size: 40px;
      font-family: 'Coolvetica', sans-serif;
      font-weight: 600;
      color: #fff;
      letter-spacing: 5px;

      @media screen and (min-width: 375px) {
        font-size: 50px;
      }
    }

    h2 {
      color: #ffd700;
      margin-top: 20px;
      font-weight: 400;
      font-size: 30px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }

    .btn {
      margin: 50px 0;
      .flat-btn {
        position: relative;
        color: #cc6c06;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 4px;
        font-family: 'Burtons';
        margin-top: 25px;
        padding: 10px 20px;
        border: 1px solid #cc6c06;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;
        transition: all 0.3s linear;
        border-radius: 0 15px 0 15px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          background-color: #cc6c06;
          clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
          transition: all 0.3s linear;
          border-radius: 0 15px 0 15px;
        }

        &:hover::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  .image {
    display: none;
    @media screen and (min-width: 991px) {
      display: block;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
